
/* ---------------------------------------------- */
/* Styles --------------------------------------- */
/* ---------------------------------------------- */

/* Main Wrapper */

 .wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.750em;
 }

 .wrapper2 {
  max-width: 100%;
  margin: 0 auto;
 }


/**
 * Wrapper
 */
/*.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }
*/


/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }


.row {
  margin: 0;
  width: 100%;
  max-width: 100rem;
}


/* ---------------------------------------------- */
/* Links ---------------------------------------- */
/* ---------------------------------------------- */

a {
  color: #d3215d;
}

a:active,
a:hover {
  outline: 0;
  color: #e3747a;
}



/* ---------------------------------------------- */
/* Site Header / Navigation --------------------- */
/* ---------------------------------------------- */

.site-header {
  background-color: #002f43;
  font-family: Josefin Sans;
  font-weight: lighter; 
}

.site-title {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: left;
  padding: 0.375em;

}

.site-nav {
  font-size: 0.750em;
  text-transform: uppercase;
  margin-top: 0.875em;
}

.page-link {
  display: inline-block;
  padding-right: 1em;
  vertical-align: middle;
}


@media only screen and (min-width: 40.063em) {
  .site-nav {
    text-align: right; }
}






/* ---------------------------------------------- */
/* Basic Styles --------------------------------- */
/* ---------------------------------------------- */

h1 {
  font-family: Josefin Sans;
  font-weight: normal;
  font-size: 2em;
  text-transform: uppercase;
  color: #12a9b0; 
}

h2 {
  font-family: Josefin Sans;
  font-weight: lighter;
  font-size: 1.8em;
  text-transform: lowercase;
  margin-top: 0.7em;
  margin-bottom: 0;
  line-height: .7em;
  color: #12a9b0;
}

div {
      border: 2px solid black;
}

body {
    margin: 0;
    font-family: Helvetica;
    font-style: lighter;
    font-size: 100%;
}

.home {
  margin: 0 auto;
}

.post-list {
  margin: 0 auto;
}

.post-meta {
  font-family: Judson;
  font-style: italic;
  font-size: 0.8em;
}

/*li {
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}*/


/* ---------------------------------------------- */
/* Home Page Image ------------------------------ */
/* ---------------------------------------------- */

.intro-pic {
  padding: 0;
  margin: 0;
}

.tagline h1 {
  color: white;
  padding: 5em 5em;
  /*vertical-align: middle;*/
  /*width: 100%;*/
}

.tagline {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  width: 100%;
  /*height: 622px;*/
}


/* ---------------------------------------------- */
/* Posts ---------------------------------------- */
/* ---------------------------------------------- */


.post {
  max-width: 100%;
  margin: 0 auto;
}

.cover-photo {
  width: 100%;
}

.post-title {
  margin-top: 0.7em;
  margin-bottom: 0;
}

.post-content {
  padding-right: 3em;
}

@media only screen and (min-width: 40.063em) {
  .post {
    max-width: 80%; }
}



/* ---------------------------------------------- */
/* Site Footer ---------------------------------- */
/* ---------------------------------------------- */

.footer {

}

.icon > svg {
display: inline-block;
width: 16px;
height: 16px;
vertical-align: middle;
}






/**
 * Site footer
 */
/*.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }

*/








