<footer class="site-footer">

  <div class="wrapper">

   <!--  <h2 class="footer-heading">{{ site.title }}</h2> -->


    <div class="row">
      <div class="footer-col-wrapper columns large-12">
          
          <div class="row">
            
            <div class="footer-col  footer-col-1 columns small-12 medium-4 large-4">
              <ul class="contact-list">
                <li>{{ site.title }}</li>
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              </ul>
            </div>

            <div class="footer-col  footer-col-2 columns small-12 medium-8 large-4">
              <ul class="social-media-list">
                <li>
                  <a href=""><img src="/photos/Facebook.png"/></a>
                </li>

                <li>
                  <a href="https://twitter.com/ClareBear503"><img src="/photos/Twitter.png"/></a>
                </li>

                <li>
                  <a href="http://www.linkedin.com/in/clareszabo/"><img src="/photos/LinkedIn.png"/></a>
                </li>
              </ul>  
              
            </div>

            <!-- <div class="footer-col  footer-col-3 columns large-4">
              <p class="text">{{ site.description }}</p>
            </div> -->
          </div>  

        </div>
    </div>

  </div>

</footer>
