<header class="site-header">

  <div class="wrapper">

    <div class="row">

       <!--  <a class="site-title-logo columns small-2 medium-1" href="{{ site.baseurl }}/"><img class="site-title-logo" src="/photos/logo-vector.png"/></a> -->
        <a class="site-title columns small-10 medium-4 large-4" href="{{ site.baseurl }}/"><img class="site-title-logo" src="{{ "/photos/logo-vector.png" | prepend: site.baseurl }}">
          <div class="wrapper-site-title">
          {{ site.title }}
          </div>
        </a>
        
      <nav class="site-nav columns small-12 medium-8 large-8">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>

  </div>   

</header>
