<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      
      <div class="wrapper2">
        <div class="row">
          <div class="tagline small-columns-12"> 
          <h1>lskdfjalskdfjlsdkfjs;ldkf</h1>
          </div>
          <img class="intro-pic small-columns-12" src="/photos/intro-pic.jpg"/>
        </div>
      </div>  

      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="isotope/isotope.pkgd.min.js"></script>

  </body>

</html>
